<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <style>
      body {
        background-color: aquamarine;
      }
    </style>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      
        
        <h1>
            <i class="fa-solid fa-address-card icon"></i>
            My contact List
        </h1>
     
      <% for(i of contact_list){%>
      <div class="inner">
        <div class="detail">
            <h4><%= i.name %></h4>
            <p><%= i.city %></p>
        </div>
        <div class="delete">
            <a href="/delete-contact/?city=<%= i.city%>">
                <i class="fa-solid fa-trash dlt-btn"></i>
            </a>
        </div>
      </div>
      <%}%>

      <form action="/contact-list" method="POST" id="input-form">
        <input type="text" class="input-field" name="name" placeholder="Enter Name" required />
        <input type="text" class="input-field" name="city" placeholder="Enter City" required />

        <button type="submit">Submit</button>
      </form>
    </div>

    <script type="
