<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>This is the second demo</h1>
          
        <% let i=0; %>
         
        <% while(i<5){ %>
            <%= i %>
            <% i++ %>
        <% } %>
           
        
    </body>
</html>